
/* General Styles for Multiple Pages */

* {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: #232946;
}

.timecalculator-main, .agecalc-home, .home-main, .calculator-main, .unitcalculator-main {
  display: flex;
  flex-direction: column;
  padding: 2em 0em 10em 0em;
  gap: 1em;
  font-size: calc(5px + 2vmin);
  color: white;
  text-align: center;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.home-main {
  padding: 2em 0em 0em 0em;
}

.pagelogo{
  transform: scale(2);
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

select {
  margin-top: 2em;
  background-color: #d4d8f0;
  color: black;
  border-radius: 0.5em;
}

select:hover  {
  background-color: #2d6cd7;
}

option {
  background-color: #d4d8f0;
}

footer{
  background-color: #1d2025;
  min-height: 100vh;
}

/* Navbar */

.navbar{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0em 1em;
}

.navbar-sitetitle{
  color: #ce8964;
  font-size: x-large;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar li{
  padding: 0.5em 1.6em;
}

.navbar a{
  text-decoration: none;
  color: inherit;
}

.navbar li:hover{
  background-color: gray;
}

.navbar button{
  background-color: #d4d8f0;
  color: black;
  border: none;
}

.navbar button:hover{
  background-color: #232946;
  color: white;
  cursor: pointer;
}

.navbar-modetoggle{
  height: auto;
  width: auto;
  max-width: 3em;
  max-height: 3em;
  margin: 1em 0em 0em 0em;
}

.navbar-calculator-dropdown, .navbar-conversions-dropdown{
  display: inline-block;
}

.navbar-calculator-content, .navbar-conversions-content{
  display: none;
  background-color: #d4d8f0;
  position: absolute;
  margin: 0.5em -1.6em;
  gap: 1em;
}

.navbar-calculator-content{
  padding: 1em 2.9em;
}

.navbar-conversions-content{
  padding: 1em 3.4em;
}

.navbar-calculator-dropdown:hover .navbar-calculator-content{
  display: flex;
  flex-direction: column;
}

.navbar-conversions-dropdown:hover .navbar-conversions-content{
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* Home */

.home-sitetitle{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  color: #ce8964;
  padding: 0em 0em 1em 0em;
}

.home-details{
  display: flex;
  flex-direction: column;
  background-color: #d4d8f0;
}

.home-card{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2em 2em;
  border-radius: 1em;
  box-shadow: -0.6em 0.6em gray;
}

@media(min-width: 1000px){
  .home-card{
    margin: 2em 8em;
  }
}

.home-subheading, .home-subbody{
  color: #232946;
}

.home-subheading{
  border-bottom: 0.1em solid;
}

.home-subbody{
  display: flex;
  flex-direction: row;
}

.home-subbody h5{
  margin: 2em;
}

.home-subbody img{
  margin: 1em 0.5em 1em 0;
}

@media(max-width: 1000px){
  .home-subbody{
    flex-wrap: wrap;
    justify-content: center;
  }


}

/* Time Calculator */

.timecalculator-main{
  gap: 3em;
}

.animatednumber h3 {
  display: inline-block;
  padding-right: 1em;
  margin-bottom: 0%;
}

#animnumbers {
  display: inline-block;
}

#timeinput {
  background-color: #282c34;
  color: white;
  border-radius: 0.5em;
}

/* AgeCalculator */

.agecalc-home{
  gap: 2em;
}

.agecalc-home img{
  padding: 2em 0em 0em 0em;
}

#dateinput{
  color: black;
  background-color: #d4d8f0;
  margin: 2em 0 0 0;
  
}

#dateinput:hover{
  color: white;
  background-color: #2d6cd7;
}

/* Calculator */

.calculator-main img{
  padding: 1em;
}

.calculator-displayoldexpression, .calculator-displaycurrentexpression{
  padding: 10px;
}

.calculator-container{
  margin: 0 20em;
  
}

@media(max-width: 1000px){
  .calculator-container{
    margin: 0 5em;
  }
}

.calculator-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: dense;
  background-color: #3e4451;
  padding: 10px;
}

.calculator-grid-textinput{
  grid-column: span 3;
}

.calculator-grid-item-equals, .calculator-grid-item{
  color: white;
  text-align: center;
  padding: 10px;
  display: block;
}

.calculator-grid-item{
  background-color: #1d2025;
}

.calculator-grid-item:hover{
  background-color: #0c0d10;
}

.calculator-grid-item-equals{
  background-color: #2d6cd7;
}

/* Unit Calculator */

.wholecontainer{
  display: flex;
  flex-direction: row;
  margin: 0em 1em;
}

.checkboxcontainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ce8964;
  margin: 0em 0em 3em 0em;
  padding: 0em 0em 1.5em 0em;
  gap: 1em;
}

.checkboxcontainer h3{
  align-self: center;
}

.contentcontainer{
  flex-grow: 1;
}

.unitcheckbox{
  display: flex;
  flex-direction: row;
}

.unit-values{
  display: flex;
  flex-direction: column;
  padding: 0 0 1em 0;
}

.unitselect{
  text-align: center;
  border-radius: 5px;
  background-color: #d4d8f0;
  color: black;
}

#unitinput {
  background-color: #282c34;
  color: white;
  border-radius: 7px;
}